<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center><img src="http://ionickers.github.io/public/ionickersWhite.png" width="60%"></center>
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
        <li class="sidebar-nav-item"><a href="https://twitter.com/cgodrix" target="_blank">It's Me! Godrix</a></li>
      <!--li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <li class="sidebar-nav-item">Currently v{{ site.version }}</li-->
        <li class="sidebar-nav-item"><a href="https://telegram.me/ionickers" target="_blank">Canal no Telegram!</a></li>
    </ul>

     <center><p><small>Feito com &hearts; por <a href="https://twitter.com/cgodrix" target="_blank">@cgodrix</a></small> </p></center>
  </div>
</div>
